body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100%;
    color: #343641;
}

.rekis {
background: #6abfa5;
    border-radius: 0px;

}
div {
    border-radius: 10px;
}

button {
    border-radius: 10px;
}

.content {
    padding: 2px;
    width:60%;
    height: 95%;
    background-color:#6abfa5;
    margin: auto;
    box-shadow: 5px 10px #888888;
}

.navi {
    padding:2px;
    width:60%;
    height: 95%;
    margin: auto;
    border-radius: 10px;
}

.banner{
    width:60%;
    margin: auto;
    box-shadow: 5px 10px #888888;
}

tr:nth-child(even) {background: #f6eeba}
tr:nth-child(odd) {background: #6abfa5}

 table {
     border-radius: 10px;
 }

tr {
    border-radius: 10px;
}
td {
    border-radius: 5px;
}
th {
    border-radius: 10px;
}

h2 {
    color:#343641;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343641;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
}

li {
    float: left;
    border-radius: 10px;
}

li a {
    border-radius: 10px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    border-radius: 10px;
    background-color: #f6eeba;
    color:#343641;
}

.vastauslaatikko {
    display: none;
}