body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100%;
    color: #343641;
    font-family: "Palatino Linotype";
}

button {
    border-radius: 10px;
}

input[type=text] {
    border-radius: 4px;
}

.content {
    padding: 2px;
    width:60%;
    height:95vh;
    background-color:#f6eeba;
    margin: auto;
    box-shadow: 5px 10px #888888;
    border-radius: 15px;
}

.navi {

    width:60%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.banner{
    width:60%;
    margin: auto;
    box-shadow: 5px 10px #888888;
    border-radius: 10px;
}

tr:nth-child(even) {background: #f6eeba; }
tr:nth-child(odd) {background: #6abfa5}

 table {
     width: 100%;
     border-radius: 15px;
 }
.puhdastd {
    background: #f6eeba
}
tr {
    border-radius: 5px;
}
td {
    border-radius: 5px;
}
table, td, th {
    text-align: left;
}

th, td {
    padding: 15px;
}

th {
    border-radius: 5px;
    background-color: #343641;
    color: #f6eeba;
}

.namiska {
    background-color: #343641;
    box-shadow: 1px 2px #888888;
    border-radius: 4px;
    color: #f6eeba;

}
h2 {
    color:#343641;
    shadow: 2px 5px #888888;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343641;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
}

.nappi {
    background-color: #343641;
    border: none;
    color: #f6eeba;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    border-radius: 10px;
}

.nappi a {
    border-radius: 10px;
    display: block;
    color: #f6eeba;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nappi:hover {
    border-radius: 10px;
    background-color: #6abfa5;
    color:#343641;
}

.viivoitus {
    border-top: solid #343641;
    margin-top: 10px;
}
/* JOS haluamme piilottaa reply-laatikon, täällä on tarvittavat koodit
.vastauslaatikko {
    display: none;
}

  <script>
       function toggleReplyVisibility(event) {
    var stopsToggle = event.target.firstElementChild;
if (stopsToggle.style.display === "none") {
    stopsToggle.style.display = "block";
} else {
      stopsToggle.style.display = "none";
  }
}
</script>
*/