<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="tyyli.css">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="banner">
    <img src="banneri.png" alt="Banneri" align="center" width="100%">
</div>

<div class="content">
    <div class="navi"><ul>
        <li><a href="/login">login</a></li>
        <li><a href="/rekisterointi">rekisteröinti</a></li>
        <li><a href="/profiili">profiili</a></li>
        <li><a href="/logout">Ulos!</a></li>
    </ul></div>
</div>
    <div class="content">
<div style="width: 100%">

    <table style="width: 100%; border: solid black">
        <tr style="border: solid black"><th>Ajanhetki</th><th>Käyttäjä</th><th>Viesti</th></tr>
        <tr th:each="viesti: ${viestit}" style="height: 15px;">
            <td th:text="${viesti.aikaleima}"></td><td th:text="${viesti.kayttaja.nimimerkki}"></td><td th:text="${viesti.teksti}" style="width: 75%"></td>
        </tr>
    </table>

</div>
    <br/>
        <hr>
<div>Haluatko osallistua keskusteluun? Iske itsesi sisään foorumeillemme!</div>
        <hr>
    <br/>
<div id="divi2">
    <form action="#" th:action="@{/lisaaviesti}" th:object="${lisattava}" method="post">
        <div>Kayttaja:<br/> <input th:field="*{kayttaja.nimimerkki}"/></div>
        <div>Viesti:<br/> <input th:field="*{teksti}"/></div>
        <div><input th:type="submit" value="Viestitä"/></div>
    </form>
</div>
</div>
</body>
</html>