<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="tyyli.css">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script>
        function toggleReplyVisibility(event) {
            var stopsToggle = event.target.firstElementChild;
            if (stopsToggle.style.display === "none") {
                stopsToggle.style.display = "block";
            } else {
                stopsToggle.style.display = "none";
            }
        }
    </script>

</head>
<body>
<div class="banner">
    <img src="banneri.png" alt="Banneri" align="center" width="100%" style="border-radius:15px">
</div>


    <div class="navi"><ul>

        <li><a href="/">Keskustelupalsta</a></li>
        <li><a href="/profiili">profiili</a></li>
        <span th:if="${admin == null}">
        <li><a href="/login">login</a></li>
        </span>
        <span th:unless="${admin == null}">
        <li><a href="/logout">Ulos!</a></li>
        </span>
        <span th:if="${admin == null}">
        <li><a href="/rekisterointi">rekisteröinti</a></li>
        </span>

    </ul></div>
    <div class="content">
<div style="width: 100%">

    <table style="width: 100%; border-bottom: solid black">
        <tr style="border: solid black; width:100%;"><th>Ajanhetki</th><th>Käyttäjä</th><th>Viesti</th><th>Toiminnallisuus</th></tr>
        <tr th:each="viesti: ${viestit}" style="height: 15px;">

            <form action="#" th:action="@{/reply}" th:object="${lisattava}" method="post">
                <td th:text="${viesti.aikaleima}"></td><td th:text="${viesti.kayttaja.nimimerkki}"></td><td style="display:none" th:text="${viesti.id}"></td><td th:text="${viesti.teksti}" style="width: 55%">
                <td th:if="${admin != null}">
                    <div onclick="toggleReplyVisibility(event)">Vastaa
                        <div class="vastauslaatikko">
                            <input style="display:none" th:name="vastattuviesti.id" th:value="${viesti.id}"/>
                            <input style="display:none" th:field="*{kayttaja.nimimerkki}"/>
                            <input th:field="*{teksti}" />
                            <input th:type="submit" value="Lähetä"/>
                        </div></div>
                </td>
                <td th:unless="${admin != null}">
                    <div style="display: none" onclick="toggleReplyVisibility(event)">Vastaa
                        <div class="vastauslaatikko">
                            <input style="display:none" th:name="vastattuviesti.id" th:value="${viesti.id}"/>
                            <input style="display:none" th:field="*{kayttaja.nimimerkki}"/>
                            <input th:field="*{teksti}" />
                            <input th:type="submit" value="Lähetä"/>
                        </div></div>
                </td>


            </form>
            <form action="#" th:action="@{/poista}" method="post">
                <input th:type="hidden" th:name="kayttaja.nimimerkki" th:value="${viesti.kayttaja.nimimerkki}"/>
                <input th:type="hidden" th:name="id" th:value="${viesti.id}"/>
                <td th:if="${admin == 1}==true"><div><input th:type="submit" value="Poista"/></div></td>
                <td th:if="${lisattava.kayttaja.nimimerkki == viesti.kayttaja.nimimerkki && admin != 1}==true"><div><input th:type="submit" value="Poista"/></div></td>

            </form>
        </tr>
    </table>

</div>
    <br/>
<div th:if="${admin == null}">*Haluatko osallistua keskusteluun? <a href="/login">Kirjaudu sisään!</a> Tai jos et ole vielä käyttäjä
    <a href="/rekisterointi">Rekisteröidy tästä!</a>*</div>
<div id="divi2">
    <span th:if="${admin != null}">
    <form action="#" th:action="@{/lisaaviesti}" th:object="${lisattava}" method="post">
        <div><input th:type="hidden" th:field="*{kayttaja.nimimerkki}"/></div>
        <div><input th:field="*{teksti}" style="width:98%; margin-left:2px; margin-bottom:2px;"/></div>
        <div><input th:type="submit" value="Viestitä" style="margin-left:2px"/></div>
    </form>
    </span>
</div>
</div>
</body>
</html>