<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div>
    <table>
        <tr><th>Käyttäjä</th><th>Viesti</th></tr>
        <tr th:each="viesti: ${viestit}" style="height: 15px;">
          <td th:text="${viesti.kayttaja.nimimerkki}"></td><td th:text="${viesti.teksti}"></td>
        </tr>
    </table>

</div>

<div id="divi2">
    <form action="#" th:action="@{/lisaaviesti}" th:object="${lisattava}" method="post">
        <div>Viesti:<br/> <input th:field="*{teksti}"/></div>
        <div><input th:type="submit" value="Viestitä"/></div>
    </form>
</div>
</body>
</html>