<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="tyyli.css">

    <meta charset="UTF-8"/>
    <title>Kirjaudu</title>
    <link rel="shortcut icon" type="image/png" href="/favi.png"/>
</head>
<body>
<div class="banner">
    <img src="banneri.png" alt="Banneri" align="center" width="100%">
</div>

    <div class="navi"><ul>
        <li>
            <form th:action="@{/}">
            <input th:type="submit" value="KESKUSTELUPALSTA" class="nappi"/>
            </form>
       </li>
        <li>
            <form th:action="@{/rekisterointi}">
            <input th:type="submit" value="REKISTERÖIDY" class="nappi"/>
            </form>
        </li>
    </ul></div>


<div class="content">
    <h2>Kirjaudu sisään!</h2>
<div id="divi2" class="viivoitus">
    <form action="#" th:action="@{/kirjaudu}" th:object="${lisattava}" method="post">
        <div>Käyttäjätunnus:<br/> <input th:field="*{nimimerkki}"/></div>
        <div>Salasana:<br/> <input type="password" th:field="*{salasana}"/></div>
        <div><input th:type="submit" value="Kirjaudu sisään" class="namiska" style="padding-top:2px;"/></div>
    </form>
    <p><a th:href="@{/salasana}">Unohtuiko salasana?</a></p>
</div>
</div>
</body>
</html>