<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="tyyli.css">

    <meta charset="UTF-8"/>
    <title>Profiili</title>
    <link rel="shortcut icon" type="image/png" href="/favi.png"/>
</head>


<body>
<div class="banner">
    <img src="banneri.png" alt="Banneri" align="center" width="100%">
</div>

    <div class="navi"><ul>
        <li>
            <form th:action="@{/}"th:object="${lisattava}" method="post">
                <input th:type="submit" value="KESKUSTELUPALSTA" class="nappi"/>
            </form>
        </li>
        <li>
        <span th:if="${admin == null}">
                <form th:action="@{/profiili}">
                    <input th:type="submit" value="PROFIILI" class="nappi"/>
                </form>
        </span>
        </li>
        <li>
        <span th:if="${admin == null}">
                <form th:action="@{/login}">
                    <input  th:type="submit" value="KIRJAUDU SISÄÄN" class="nappi"/>
                </form>
        </span>
        </li>
        <li>
        <span th:unless="${admin == null}">
                <form th:action="@{/logout}">
                    <input th:type="submit" value="KIRJAUDU ULOS" class="nappi"/>
                </form>
        </span>
        </li>
<!--        <li>
        <span th:if="${admin == null}">
                <form th:action="@{/rekisterointi}">
                    <input th:type="submit" value="REKISTERÖIDY" class="nappi"/>
                </form>
        </span>
        </li>-->
    </ul></div>







<div class="content">
    <h2>Profiilitiedot</h2>
    <div th:object="${kayttaja}">
        <a th:href="@{/muokkaaprofiilia}+'?id='+*{id}">Muokkaa tietoja</a>

        <p>Nimimerkki: <span th:text="*{nimimerkki}"></span></p>
        <p>Lähetettyjen viestien määrä: <span th:text="*{viestienMaara}"></span></p>
        <p>Nimi: <span th:text="*{nimi}"></span></p>
        <p>Sähköposti: <span th:text="*{sahkoposti}"></span></p>

    </div>
    <a th:href="@{/login}">Siirry keskustelemaan</a>

</div>

</body>
</html>