<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="tyyli.css">

    <meta charset="UTF-8"/>
    <title>Rekisteroidy</title>
</head>
<body>
<div class="banner">
    <img src="banneri.png" alt="Banneri" align="center" width="100%">
</div>
<div class="content">
    <div class="navi"><ul>
        <li><a href="/">Keskustelupalsta</a></li>
        <li><a href="/login">login</a></li>
    </ul></div>
</div>
<div class="content">
<h2>Rekisteröi uusi käyttäjä</h2>
<form th:action="@{/profiili}" th:object="${kayttaja}" method="post">

    <p>Nimimerkki: <input th:field="*{nimimerkki}"></p>
    <p>Salasana: <input type="password" th:field="*{salasana}"></p>
    <input type="submit" value="Tallenna">
</form>
</div>
</body>
</html>