<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="tyyli.css">
    <link rel="shortcut icon" type="image/png" href="/favi.png"/>
    <meta charset="UTF-8"/>
    <title>Virhe</title>
</head>



<body>
<div class="banner">
    <img src="banneri.png" alt="Banneri" align="center" width="100%">
</div>

    <div class="navi"><ul>
        <li>
            <form th:action="@{/}"th:object="${lisattava}">
                <input th:type="submit" value="KESKUSTELUPALSTA" class="nappi"/>
            </form>
        </li>
        <li>
        <span th:if="${admin == null}">
                <form th:action="@{/omattiedot}">
                    <input th:type="submit" value="PROFIILI" class="nappi"/>
                </form>
        </span>
        </li>
        <li>
        <span th:if="${admin == null}">
                <form th:action="@{/login}">
                    <input  th:type="submit" value="KIRJAUDU SISÄÄN" class="nappi"/>
                </form>
        </span>
        </li>
        <li>
        <span th:unless="${admin == null}">
                <form th:action="@{/logout}">
                    <input th:type="submit" value="KIRJAUDU ULOS" class="nappi"/>
                </form>
        </span>
        </li>
        <li>
            <span th:if="${admin == null}">
                <form th:action="@{/rekisterointi}">
                    <input th:type="submit" value="REKISTERÖIDY" class="nappi"/>
                </form>
            </span>
        </li>
    </ul></div>

<div class="content">
    <h2>Jokin meni pieleen ..</h2>
    <p th:text="${viesti}"></p>

    <div th:if="${luku} == 1">
        <form th:action="@{/rekisterointi}">
            <input type="submit" value="Rekisteröidy">
        </form>
    </div>

    <div th:if="${luku} == 2">
        <form th:action="@{/login}">
            <input type="submit" value="Kirjaudu">
        </form>
    </div>

    <div th:if="${luku} == 3">
        <form th:action="@{/login}">
            <input type="submit" value="Kirjaudu uudestaan">
        </form>
        <form th:action="@{/rekisterointi}">
            <input type="submit" value="Rekisteröidy käyttäjäksi">
        </form>
    </div>

    <div th:if="${luku} == 4">
        <form th:action="@{/login}">
            <input type="text" value="Kerro käyttäjätunnuksesi">
            <input type="submit" value="Lähetä">
        </form>
    </div>
</div>
</body>
</html>