<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../tyyli.css">
    <meta charset="UTF-8"/>
    <title>Viestiketjut</title>
    <link rel="shortcut icon" type="image/png" href="../favi.png"/>

</head>
<body>
<div class="banner">
    <img src="../banneri.png" alt="Banneri" align="center" width="100%" style="border-radius:15px">
</div>


<div class="navi"><ul>

<!--    <li>

        <form action="#" th:action="@{/}" th:object="${lisattava}" method="post">
            &lt;!&ndash;<input th:name="kayttaja.nimimerkki" th:value="*{kayttaja.nimimerkki}"/>&ndash;&gt;
            <input th:field="*{kayttaja.nimimerkki}"/>
            <input th:type="submit" value="HOME" class="nappi"/>
        </form>

    </li>-->
    <li>
        <span th:if="${admin != null}">
                <form th:action="@{/profiili}">
                    <input th:type="submit" value="PROFIILI" class="nappi"/>
                </form>
        </span>
    </li>
    <li>
        <span th:if="${admin == null}">
                <form th:action="@{/login}">
                    <input  th:type="submit" value="KIRJAUDU SISÄÄN" class="nappi"/>
                </form>
        </span>
    </li>
    <li>
        <span th:unless="${admin == null}">
                <form th:action="@{/logout}">
                    <input th:type="submit" value="KIRJAUDU ULOS" class="nappi"/>
                </form>
        </span>
    </li>
    <li>
        <span th:if="${admin == null}">
        <form th:action="@{/rekisterointi}">
            <input th:type="submit" value="REKISTERÖIDY" class="nappi"/>
        </form>
        </span>
    </li>

</ul></div>
<div class="content">
    <div style="width: 100%; border-radius: 10px;">

        <table style="width: 100%; ">
            <tr style="border: solid black; width:100%;"><th>Postausaika</th><th>AP</th><th>Aihe</th><th></th></tr>
            <tr th:each="viesti: ${viestit}" style="height: 15px;">
                
                    <td th:text="${viesti.aikaleima}" style="width:16%"></td>
                    <td th:text="${viesti.kayttaja.nimimerkki}" style="width:16%"></td>
                    <td th:text="${viesti.otsikko}"></td>

                <td></t>

                    <form action="#" th:action="@{/viestiketjut}" method="post">
                        <input th:name="viestiketju" th:value="${viesti.viestiketju}"/>
                        <input th:type="submit" value="Syöksy keskusteluun!" class="namiska"/>

                    </form>
                </td>



            </tr>

        </table>

    </div>
    <div class="viivoitus">
   <div th:if="${admin == null}">*Haluatko osallistua keskusteluun? <a href="/login">Kirjaudu sisään!</a> Tai jos et ole vielä käyttäjä
        <a href="/rekisterointi">Rekisteröidy tästä!</a>*</div>
    <div id="divi2">
    <span th:if="${admin != null}">

    <form action="#" th:action="@{/lisaaviestiketju}" th:object="${lisattava}" method="post">
        <div></br><input th:type="hidden" th:field="*{kayttaja.nimimerkki}"/></div>
        <div>Syötä otsikko: </br><input th:field="*{otsikko}"style="margin-left:2px; margin-bottom:2px;"/></div>
        <div>Syötä viesti: </br><textarea th:field="*{teksti}" rows="10" cols="94" style="margin-left:2px; margin-bottom:2px;"/></div>
        <div><input th:type="submit" value="Lähetä viestiketju" style="margin-left:2px " class="namiska"/></div>
    </form>
    </span>
    </div>
</div>

</div>
</body>
</html>